<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">


    <context:property-placeholder location="classpath:MyApp.properties" file-encoding="UTF-8"/>

<!-- IoC -->
    <bean id = "myPet"
          class="spring_introduction.spring_container_example.withXML.pet.CatWithXml">
    </bean>

<!--  DI с помощью конструктора  -->
<!--    <bean id="myPerson"-->
<!--          class="spring_introduction.spring_container_example.withXML.PersonWithXml"

<!-            Конкретное использование DI:   -->
<!--        <constructor-arg ref="myPet"/>-->
<!--    </bean>-->

        <bean id="myPerson"
              class="spring_introduction.spring_container_example.withXML.PersonWithXml">

<!--            Конкретное использование DI:   -->
            <property name="pet" ref="myPet"/>

<!--            Заполнение полей-->
<!--        <property name="surname" value="Иванов"/>-->
<!--        <property name="age" value="25"/>-->
            <property name="surname" value="${person.surname}"/>
            <property name="age" value="${person.age}"/>

        </bean>

</beans>
